@import 'vars';
/*.ProductList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin: 3em 0 0 0;
}

@media (max-width: 640px) {
.ProductList {
    grid-template-columns: repeat(auto-fill, 240px); 
}*/
.ProductCarrousel{
    width:94%;
    margin: 0 auto;
}

.slick-prev:before,  .slick-next:before{
    color:black !important;
}